## Quiz 4 Solution

In [74]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [75]:
# load train.csv file from Kaggle "House Prices: Advanced Regression Techniques" dataset 
house = pd.read_csv("../../datasets/house_prices/train.csv")

In [76]:
house.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [77]:
cols = ['LotArea', 'YearBuilt', 'MSZoning']

In [78]:
X = house[cols]
X

      LotArea  YearBuilt MSZoning
0        8450       2003       RL
1        9600       1976       RL
2       11250       2001       RL
3        9550       1915       RL
4       14260       2000       RL
...       ...        ...      ...
1455     7917       1999       RL
1456    13175       1978       RL
1457     9042       1941       RL
1458     9717       1950       RL
1459     9937       1965       RL

[1460 rows x 3 columns]

In [79]:
X = pd.get_dummies(X)
X

,LotArea,YearBuilt,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM
0,8450,2003,0,0,0,1,0
1,9600,1976,0,0,0,1,0
2,11250,2001,0,0,0,1,0
3,9550,1915,0,0,0,1,0
4,14260,2000,0,0,0,1,0
...,...,...,...,...,...,...,...
1455,7917,1999,0,0,0,1,0
1456,13175,1978,0,0,0,1,0
1457,9042,1941,0,0,0,1,0
1458,9717,1950,0,0,0,1,0
1459,9937,1965,0,0,0,1,0

In [80]:
y = house.loc[:,'SalePrice']

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
lm = linear_model.LinearRegression()
model = lm.fit(X_train, y_train)
test_predictions = model.predict(X_test)
print(mean_absolute_error(y_test, test_predictions))
print(model.coef_)
print(model.intercept_)

47249.611195370046
[ 2.22572400e+00  1.32123562e+03 -3.09716387e+04  6.02504699e+03
  5.83143105e+03  1.55768662e+04  3.53829442e+03]
-2460591.6095266957

In [ ]:
SalesPrice = -2460591 + LotArea*2.22 + YearBuilt*1321 - MSZoning_C*3097